/* General */

@font-face {
    font-family: 'Poppins';
    src: url('./fonts/poppins.ttf') format('.ttf');
}

body {
    margin: 0;
    font-family: 'Poppins';
}

header, section, footer {
    padding: 40px 5px;
}

section h2 {
    text-align: center;
    margin-bottom: 40px;
}

section h4 {
    margin: 0;
}

.info-title {
    display: flex;
    justify-content: space-between;
}

section p {
    text-align: justify;
}

h1 {
    font-size: 4vmin;
}

h2 {
    font-size: 3vmin;
}

li, p, h4, aside {
    font-size: 2vmin;
}

/* Blue-box */

.blue-box {
    background-color: #0475ba;
    color: white;
}

/* white-box */

.white-box h2 {
    color: #0475ba;
}

/* nav */

nav {
    height: 72px;
    display: flex;
}

nav h2 {
    margin: 0;
    padding: 15px;
    font-size: 1.5em;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0 5vmax;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 1vmax;
}

.a-header:hover {
    background-color:#C0C0C0;
    border-radius: 100px;
}

/* header */

header {
    justify-content: center;
    text-align: center;
}

header h2 {
    color: #0475ba;
    margin: 0 0 15px;
}

img {
    width: 150px;
    border-radius: 50%;
}

/* footer */

footer a {
    color: white;
    text-decoration: none;
}

footer div {
    padding: 20px 40px;
}

.a-f {
    font-size: 2vmin;
}

.fas, .fab {
    font-size: 3vmin;
}

/* @media */

@media screen and (min-width: 991px) {
    .container-box {
        width: 60%;
        margin: auto;
    }
    .div-header {
        display: flex;
        width: 44%;
        justify-content: space-around;
        margin: auto;
    }
    section h2 {
        text-align: left;
    }
    footer {
        display: flex;
    }
    footer div {
        padding: 1vmax 8vmax;
    }
}

@media screen and (max-width: 750px) {
    .ul-header {
        display: none;
    }
}